*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    height: 100vh;
}
header{
    height: 15vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: max-content;
    gap: 4vh 0;
}
.tabla{
    border-collapse: collapse;
    width: 30%;
    text-align: center;
    
}
.tabla thead{
    background-color: #0066FF;
    color: aliceblue;
}
.tabla thead tr{
    height: 5vh;
}
#tbody{
    color: #606060;
    border-collapse: collapse;
    border: solid 1px #60606052;
}
.tbody tr{
    height: 5vh;
}
.botones{
   display: flex;
   gap: 5%;
}
#eliminar{
    background-color: rgba(214, 66, 66, 0.692);
    border: none;
    cursor: pointer;
    padding: 2%;
    width: 50%;
   color: aliceblue;
   border-radius: 15px;

}
#agregar{
    background-color: rgb(57, 177, 57);
    border: none;
    cursor: pointer;
    padding: 2%;
    width: 50%;
   color: aliceblue;
   border-radius: 15px;



}